:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  text-align: center;
}

h1 {
  font-size: 1.6em;
  line-height: 1.1;
}

h2 {
  font-size: 1.4em;
}

input {
  margin-left: .5rem;
  margin-right: .5rem;
}

button, .btn {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: .5em 1em;
  margin-left: .5em;
  margin-right: .5em;
  font-size: 80%;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.btn-primary {
  background-color: #f5c518;
  color: #1a1a1a;
}
.btn-primary:hover {
  color: #1a1a1a;
}

.box {
  outline: 1px solid #fff;
  margin: 1rem;
  padding: 1rem;
}

.card-list {
  display: flex;
  flex-wrap: wrap;
}

.card-list .card {
  flex: 0 1 100%;
  border-radius: 5px;
  outline: 1px solid #fff;
  padding: 1rem;
  margin: 1rem;
}

@media (min-width: 768px){
  .card-list .card {
    flex: 0 1 calc(33% - 4rem); /* 33.33% minus 2x horizontal margins and 2x horizontal paddings */
  } 
}

